.nav ul{
    list-style-type: none;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 81.3px;
    text-decoration: none;
    float: left;
}

.nav li a:hover{
    background-color: #111;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

body {
    background-image: url("BGStartsida.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header {
    color: azure;
    text-align: center;
}